<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Funk Central</title>
    <link href="http://localhost:8080/css/pagesContent.css" rel="stylesheet">

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
            $("#header").load("http://localhost:8080/components/header.html", ()=>{

                let links = document.getElementsByTagName('a');
                let bodyId = document.querySelector("body").id;

                for (let link of links) 
                {
                    if (link.getAttribute("name") == bodyId) 
                    {
                        link.classList.add("active");
                        break;
                    }
                }
            }); 

            $("#footer").load("http://localhost:8080/components/footer.html"); 
        });
    </script>

    <style>
        .songLink {
            text-decoration: underline;
	        vertical-align: middle;
            color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size:1.5vmin;
        }

        .songLink:hover {
            color: #613a69;
        }
    </style>
</head>

<body id="browse">
    <div id="header"></div>

    <div class = "content">
        <h1><%=artistData.name%></h1>

        <%if(!(artistData.imageURL == "")){%>
            <div class="centeredElement">
                <img src="<%=artistData.imageURL%>" alt="artist image" style="height: 10vw; width: 10vw;">
            </div>
        <%}%>

        <div class="spacerSmall"></div>
        
        <div class="centeredElement">  
            <div><b>Bio: <%=artistData.bio%></b></div>
            <div class="spacerLarge"></div>
        </div>

        <div class="centeredElement">
            <%if(artistData.songs.length > 0){%>
                <h3>Songs:</h3>
                <div class="spacerSmall"></div>
                <%artistData.songs.forEach((song)=>{%>
                    <form style="display: block; cursor: pointer;" action="/songInfo" method="post">
                        <input type="hidden" name="artistClicked" value="<%=artistData.name%>"/>
                        <input type="hidden" name="songClicked" value="<%=song.name%>"/>
                        <a class="songLink" onclick="this.parentNode.submit();"><b><%=song.name%></b></a>
                    </form>
                    <div class="spacerSmall"></div>
                <%});%>
            <%}%>
        </div>

    </div>

    <div id="footer"></div>
</body>

</html>