<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Funk Central</title>
    <link href="http://localhost:8080/css/pagesContent.css" rel="stylesheet">

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    
    <script>
        $(function(){
            $("#header").load("http://localhost:8080/components/header.html", ()=>{

                let links = document.getElementsByTagName('a');
                let bodyId = document.querySelector("body").id;

                for (let link of links) 
                {
                    if (link.getAttribute("name") == bodyId) 
                    {
                        link.classList.add("active");
                        break;
                    }
                }
            }); 
            
            $("#footer").load("http://localhost:8080/components/footer.html"); 
        });
    </script>

    <style>
        li{
            padding-bottom: 10px;
        }

        .content{
            height: 100%;
        }

        .browseLink {
            text-decoration: underline;
	        vertical-align: middle;
            color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size:1.5vmin;
        }

        .browseLink:hover {
            color: #613a69;
        }
    </style>
</head>

<body id="browse">
    <div id="header"></div>

    <div class = "content">
        <div class="spacerSmall"></div>

        <h1>BROWSE</h1>

        <div class="centeredElement">
            <form action="/browse" method="post">
                Artist: <input type="text" name="artistSearchText" id="artistSearchText" size="23" value=<%=searchedArtistName%> > 
                Song: <input type="text" name="songSearchText" id="songSearchText" size="23" value=<%=searchedSongName%> > 
                <input type="submit" value="Search">
            </form>

            <div class="spacerSmall"></div>

            <div>
                <p id="resultCounterText"><b><%=searchData.length%> Result(s)</b></p>
            </div>

            <div class="spacerSmall"></div>
        </div>

        <div style="margin-left: 20%; margin-right: auto;">
            <ul id="searchResultList">
                <%searchData.forEach((searchResult)=>{%>
                    <li>
                        <form style="display: block; cursor: pointer;" action="/browse" method="post">
                            <input type="hidden" name="name" value="value"/>
                            <a class="browseLink" onclick="this.parentNode.submit();"><b><%=searchResult.artist.name%> - <%=searchResult.song.name%></b></a>
                        </form>
                    </li>
                <%});%>
            </ul>
        </div>

    </div>

    <div id="footer"></div>
</body>
</html>