<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Funk Central</title>
    <link href="http://localhost:8080/css/pagesContent.css" rel="stylesheet">

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
            $("#header").load("http://localhost:8080/components/header.html", ()=>{

                let links = document.getElementsByTagName('a');
                let bodyId = document.querySelector("body").id;

                for (let link of links) 
                {
                    if (link.getAttribute("name") == bodyId) 
                    {
                        link.classList.add("active");
                        break;
                    }
                }
            }); 

            $("#footer").load("http://localhost:8080/components/footer.html"); 
        });
    </script>

    <style>
        .content{
            height: 100%;
        }

        .artistLink {
            text-decoration: underline;
	        vertical-align: middle;
            color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size:1.5vmin;
        }

        .artistLink:hover {
            color: #613a69;
        }
    </style>
</head>

<body id="browse">
    <div id="header"></div>

    <div class = "content">
        <h1><%=songData.name%></h1>
        
        <div class="centeredElement">
            <form style="display: block; cursor: pointer;" action="/artistInfo" method="post">
                <input type="hidden" name="artistClicked" value="<%=artistData.name%>"/>
                <a class="artistLink" onclick="this.parentNode.submit();"><b>By <%=artistData.name%></b></a>
            </form>
            <div class="spacerSmall"></div>
    
            <%if(!(songData.albumName == "")){%>
            <div><b>Album: <%=songData.albumName%></b></div>
            <div class="spacerLarge"></div>
            <%}%>
        </div>

        <%if(!(songData.youtubeUrl == "")){%>
        <iframe width="560" height="315" 
            src="<%=songData.youtubeUrl%>"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        <%}%>

    </div>

    <div id="footer"></div>
</body>

</html>